{% extends 'base.html' %}
 

{% block contents %}
{% load static %} 
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">


<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Get Started!</h1>
                <h3>Your Voice Matters!</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'user_list' %}" role="button">Get Started !</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}