{% extends 'base.html' %}

{% block contents %}
<div class="container my-3">
 <table class="table">
 <thead class="thead-dark">
 <tr>
 <th>순서</th>
 <th>추천</th>
 <th>제목</th>
 <th>작성자</th>
 <th>작성일</th>

 </tr>
 </thead>
  <tbody>
  
  {% for question in question_list %}
   <tr>
   <td>{{ question.id }}</td>
   <td>{{ question.voter.count }}</td> 
      
   <td><a href="{% url 'question_detail' question.id %}">{{ question.subject }}</a>
     

  
   <!-- 수정 -->
   <td> {{ question.author }} </td>
  <!-- 수정 -->
   <td> {{ question.create_at }} </td>
   </tr>

 {% endfor %}


 {% include 'includes/paginator.html' %}
  </tbody>
  </table>
 
<!--## 추가 ## -->
<a href="{% url 'question_create' %}" class="btn btn-primary float-right">질문 등록</a> 
</div>
  

<a href="./admin" class="btn btn-primary float-right">admin</a>
<a href="https://www.youtube.com/watch?v=ATdZ3pvnFhY" class="btn btn-primary float-right">유숙 60곡</a> 
<a href="https://www.youtube.com/watch?v=8RxBn9gGDs4" class="btn btn-primary float-right">7080 그리움</a> 
<a href="https://www.youtube.com/watch?v=u10MVi28cVA" class="btn btn-primary float-right">5060대</a>
<a href="https://www.youtube.com/watch?v=f4fqropUO4s" class="btn btn-primary float-right">채은옥</a>
<a href="https://www.youtube.com/watch?v=n7c2lkC_n2k" class="btn btn-primary float-right">휴식하면서 듣기 좋은 미스트롯2</a>
<a href="https://www.youtube.com/watch?v=XtILM6uZ_W0" class="btn btn-primary float-right">저녁에 듣기 좋은 미스트롯2</a>
<a href="https://www.youtube.com/watch?v=mjTZjEDRTKw" class="btn btn-primary float-right">7080 100</a>
<a href="https://www.youtube.com/watch?v=r-2apispJeo" class="btn btn-primary float-right">땡큐 콘서트 곡모음</a>



{% endblock %}
  