{% extends 'base.html' %}

{% block contents %}
<div class="container my-3">
 <table class="table">
 <thead class="thead-dark">
 <tr>
 <th>순서</th>
 <th>item</th>
 <th>price</th>
 <th>작성자</th>
 

 </tr>
 </thead>
  <tbody>
  
  {% for item in item_list %}
   <tr>
   <td>{{ item.id }}</td>
        
   <td><a href="#">{{ item.title }}</a>
     

  
   <!-- 수정 -->
   <td> {{ item.author }} </td>
  
   </tr>

 {% endfor %}


 <!-- {% include 'includes/paginator1.html' %}-->
  </tbody>
  </table>
 
<!--## 추가 ## -->
 
<a href="{% url 'item_create' %}" class="btn btn-primary float-right">item 등록</a>
 
</div>
  

{% endblock %}
  