{% extends 'base.html' %}
 

{% block contents %}

<div class="container mt-3">
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>

 <!-- ###################### 질문 영역 ###################### -->
   <!-- 질문영역 추천영역 -->
   <div class="row my-3">
    <div class="col-1"> 
        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">{{question.voter.count}}</div>
        <a href="{% url 'vote_question' question.id %}"
        class="btn btn-sm btn-secondary btn-block my-1">추천</a>
    </div>
   
  
  <!-- 질문 본문영역 -->
    <div class="col-11 ">
     <div class="card">
    <div class="card-body">
     <div class="card-text">{{ question.content|safe}}</div>
   
  </div>
  </div>
  <!-- 질문 본문영역 -->
  
 
 
<!--<div class="container my-3">

 <h5>{{ question.subject }}</h5>
 <p>{{ question.content|safe}}</p>-->

 {% if question.modify_at %}
    <div>수정일: {{ question.modify_at }}</div>
    <div>작성일: {{ question.create_at }}</div>
    {% else %}
    <div>작성일: {{ question.create_at }}</div>
    {% endif %}  

  
 
<a href="{% url 'index' %}" class="btn btn-secondary">돌아가기</a>
<a href="{% url 'question_modify' question.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
 
<a href="{% url 'question_delete' question.id %}"
       class="delete btn btn-sm btn-outline-info">삭제</a>


 
{% endblock %}

 
 
       

 
 





 
 


